.navbar {
    background-color: #8B6F47;
    color: #F5F1E8;
}

.hero {
    background-color: #6B5638;
    color: #F5F1E8;
}

.products {
    background-color: #F5F1E8;
    color: #6B5638;
}

.button {
    background-color: #8B6F47;
    color: #F5F1E8;
}

.button:hover {
    background-color: #6B5638;
}

.form {
    background-color: #F5F1E8;
    color: #6B5638;
}

.cart-modal {
    background-color: #F5F1E8;
    color: #6B5638;
}

.footer {
    background-color: #8B6F47;
    color: #F5F1E8;
}